.categories-container {
    width: 450px;
    margin: 0 auto;
  font-family: sans-serif;
  padding: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-heading {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0;
}
h3 {
    color: white;
}
.category-list {
  flex-grow: 1;
}

.category-card {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
   
  transition: transform 0.2s;
}

.category-card:hover {
  transform: scale(1.02);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

.subcategory-list {
  margin-top: 8px;
  padding: 10px;
  border-radius: 8px;
  color:lightgray;
  font-size: 14px;
}

.subcategory-list li {
  margin-bottom: 4px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  background-color: #111;
  font-size: 24px;
}

